[Desktop Entry]
Exec=konsole --builtin-profile
Name=Clean konsole
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
